.ComprarCard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #eef;
    transition: 0.3s;
    border-radius: 5px;
    width: 300px;
    max-width: 300px;
    padding-bottom: 30px;
    padding-top: 20px;
    margin: 20px 20px;
    max-height: 500px;
  }

  .ComprarCard div {
    text-align: center;
    align-content: center;
    margin-left: 15px;
    margin-bottom: 10px;
}

.confirm {
  justify-content: space-around;
  text-align: center;
  width: 150px;
  margin: 20px 80px;
}
